body {
  background-color: rgb(255, 247, 237);
  font-family: "Neucha", sans-serif;
  font-size: 20px;
}

h1 {
  font-family: "Fredericka the Great", serif;
  font-size: 50px;
  color: rgb(0, 44, 102);
}

h2 {
  font-family: "Love Ya Like A Sister", serif;
  font-size: 20px;
}

a {
  color: rgb(0, 44, 102);
  text-decoration: none;
}

a:hover {
  color: rgb(0, 77, 178);
}

.container {
  width: 700px;
  margin: 0 auto;
}

.box {
  background-color: rgb(255, 253, 252);
  border-radius: 4px;
  padding: 10px 40px;
  margin: 20px;
  text-align: center;
  box-shadow: 0px 10px 10px 0px rgb(255, 234, 209);
}

#intro {
  padding: 10px 40px 60px 40px;
}

.avatar {
  border-radius: 50%;
}

.last {
  margin-bottom: 40px;
}

.btn-blue {
  background-color: rgb(0, 44, 102);
  padding: 15px 20px;
  border-radius: 4px;
  display: inline-block;
  color: white;
}

.btn-blue:hover {
  background-color: rgb(0, 77, 178);
  color: white;
}

.list {
  list-style: none;
  padding: 0px;
}

.list li {
  display: inline;
}

.list li i {
  font-size: 40px;
  margin: 10px;
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 520px) {
  .container {
    width: 300px;
  }
}

